<%- include('header') %>

        <div class="search-container">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Find the job that fits your life</h1><br>
                <h2>More than <strong>12,000</strong> jobs are waiting to Kickstart your career!</h2>
                <div class="content">
                  <form method="" action="/browse-jobs" id="searchEngine" method='get'>
                    <div class="row">
                      <div class="col-md-10 col-sm-10">
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="job title / keywords / company name" name="search">
                          <i class="ti-time"></i>
                        </div>
                      </div>
                      <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-search-icon startSpeech"><img src="./assets/img/white-mic.png"</button>
                      </div>
                      <div class="col-md-1 col-sm-1">
                        <button type="submit" class="btn btn-search-icon"><i class="ti-search"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="popular-jobs">
                  <b>Popular Keywords: </b>
                  <a href="#">Front Desk</a>
                  <a href="#">Manager</a>
                  <a href="#">Painter</a>
                  <a href="#">Part-Time</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- end intro section -->
    </div>

    <!-- Find Job Section Start -->
    <section class="find-job section text-center">
      <span class="color-white meeting-text">
        You having a meeting with SpaceX now!
      </span>
      <a href="/video-chat" class="btn btn-primary">Join Now</a>
    </section>
    <section class="find-job section text-center bg-white">
      <span class="">
        You having a meeting with Facebook on Tuesday at 1:00pm.
      </span>

    </section>
    <section class="find-job section text-center">
      <span class="color-white">
        You having a meeting with Austin Car Wash on Friday at 5:00pm.
      </span>
    </section>
    <!-- Find Job Section End -->


    <!-- Category Section End -->



    <!-- Start Purchase Section -->
    <section class="section purchase" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="section-content text-center">
            <h1 class="title-text">
             Looking for a Job
            </h1>
            <p>Join thousand of employers and earn what you deserve!</p>
            <a href="my-account.html" class="btn btn-common">Get Started Now</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Purchase Section -->

    <%- include('footer') %>