<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><img src="assets/img/logo.png" class="img-responsive" alt="Footer Logo"></h3>
            <div class="textwidget">
              <p>VidAbility, is a hadi-capabile website. Combine with Jarvis' Speech-to-Text and Agora.io's video chat functionalities, VidAility helps disabled people get the jobs they are searching for. </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Quick Links</h3>
            <ul class="menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Trending Jobs</h3>
            <ul class="menu">
              <li><a href="#">Cooking</a></li>
              <li><a href="#">Painting</a></li>
              <li><a href="#">Help Desk</a></li>
              <li><a href="#">Greeter</a></li>
              <li><a href="#">Shelf Stocker</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Follow Us</h3>
            <div class="bottom-social-icons social-icon">
              <a class="twitter" href="https://twitter.com/GrayGrids"><i class="ti-twitter-alt"></i></a>
              <a class="facebook" href="https://web.facebook.com/GrayGrids"><i class="ti-facebook"></i></a>
              <a class="youtube" href="https://youtube.com"><i class="ti-youtube"></i></a>
              <a class="dribble" href="https://dribbble.com/GrayGrids"><i class="ti-dribbble"></i></a>
              <a class="linkedin" href="https://www.linkedin.com/GrayGrids"><i class="ti-linkedin"></i></a>
            </div>
            <p>Join our mailing list to stay up to date and get notices about our new releases!</p>
            <form class="subscribe-box">
              <input type="text" placeholder="Your email">
              <input type="submit" class="btn-system" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
            <p>All Rights reserved &copy; 2017 - Designed & Developed by <a rel="nofollow" href="http://graygrids.com">VidAbility</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
