<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title"><img src="assets/img/logo.png" class="img-responsive" alt="Footer Logo"></h3>
            <div class="textwidget">
              <p>VidAbility, is a hadi-capabile website. Combine with Jarvis' Speech-to-Text and Agora.io's video chat functionalities, VidAility helps disabled people get the jobs they are searching for. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
            <p>All Rights reserved &copy; 2017 - Designed & Developed by <a rel="nofollow" href="http://graygrids.com">VidAbility</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
