<% include ../partials/head %>

  <body>
    <!-- Header Section Start -->
    <% include ../partials/header %>
      <!-- Page Header End -->

      <!-- Job Browse Section Start -->
      <section class="job-browse section">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-sm-8">

            </div>
            <div class="col-md-3 col-sm-4">
              <aside>
                <div class="sidebar">
                  <div class="inner-box">
                    <h3>Categories</h3>
                    <ul class="cat-list">
                      <li>
                        <a href="#">Finance <span class="num-posts">4,287 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Techonologies <span class="num-posts">4,256 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Art/Design<span class="num-posts">3,245 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Science <span class="num-posts">4,256 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Education Training <span class="num-posts">4,560 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Logistics <span class="num-posts">3,256 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Food Services <span class="num-posts">1,256 Jobs</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="inner-box">
                    <h3>Job Status</h3>
                    <ul class="cat-list">
                      <li>
                        <a href="#">Full Time <span class="num-posts">12,256 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Part Time <span class="num-posts">6,510 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Freelancer <span class="num-posts">1,171 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Internship <span class="num-posts">876 Jobs</span></a>
                      </li>
                    </ul>
                  </div>
                  <div class="inner-box">
                    <h3>Locations</h3>
                    <ul class="cat-list">
                      <li>
                        <a href="#">New York <span class="num-posts">4,197 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">San Francisco <span class="num-posts">2,256 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">San Diego <span class="num-posts">3,278 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Los Angeles <span class="num-posts">5,294 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Chicago <span class="num-posts">1,746 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">Houston <span class="num-posts">871 Jobs</span></a>
                      </li>
                      <li>
                        <a href="#">New Orleans <span class="num-posts">2,163 Jobs</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </section>
      <!-- Job Browse Section End -->

      <!-- Footer Section Start -->
      <% include ../partials/footer %>
        <!-- Footer Section End -->

        <!-- Go To Top Link -->
        <a href="#" class="back-to-top">
        <i class="ti-arrow-up"></i>
      </a>

        <div id="loading">
          <div id="loading-center">
            <div id="loading-center-absolute">
              <div class="object" id="object_one"></div>
              <div class="object" id="object_two"></div>
              <div class="object" id="object_three"></div>
              <div class="object" id="object_four"></div>
              <div class="object" id="object_five"></div>
              <div class="object" id="object_six"></div>
              <div class="object" id="object_seven"></div>
              <div class="object" id="object_eight"></div>
            </div>
          </div>
        </div>

        <!-- Main JS  -->
        <% include ../partials/jsscripts %>

  </body>

  </html>
